header.nav-container
    nav
        ul
            li
                a(href='/')="Inicio"
            li
                a(href='/')="Quienes Somos"
            li
                a(href='/')="Contacto"