<header class="nav-container" >
    <nav>
        <ul>
            <li>
                <a href="/home">Inicio</a>
                <a href="/home">Quienes Somos</a>
                <a href="/home">Contacto</a>
            </li>
        </ul>
    </nav>
</header>