doctype html
html(lang='es')
    include includes/head.pug
    body
        navbar
            ul
        li
            a(href='/')="Inicio"
        li
            a(href='/')="Quienes Somos"
        li
            a(href='/')="Contacto"   
        h1=errorMessage
        include includes/footer.pug
