z{{> navbar}}
<br/>

<h1>Carga de productos:</h1>
<div id="form-container">
    <form onsubmit="return agregar()" action="/api/productos">
        <fieldset>
            <label>Nombre del producto
                <input class="input" type="text" name="nombre" size="45" placeholder="Ingresa el nombre" id="nombre" required/>
            </label>
            <label>Precio del producto
                <input class="input" type="text" name="precio" pattern="[0-9]+" size="45" placeholder="Ingresa el precio" id="precio" required/>
            </label>
            <label>Imagen del producto
                <input class="input" type="text" name="img" size="45" placeholder="Ingresa el thumbnail" id="img" required/>
            </label>
        </fieldset>
        <input type="submit" value="Enviar" />
        <img  id="stan" src="https://static.wikia.nocookie.net/monkeyisland/images/5/5c/StaninActionanimiert.gif" alt="Stan">
    </form>
</div>
<br/>

<div class="table-container">
        <table>
            <thead class="centrado">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="chat-container">
    <form onsubmit="return enviar()">
        <label for="correo">Ingrese su correo electronico
            <input class="input" id="caja-correo" type="correo" name="correo" value="" placeholder="correo" required/>
        </label>
        <label for="msg">Ingrese su mensaje
            <input class="input" id="caja-msg" type="text" name="msg" value="" placeholder="Mensaje" required/>
        </label>
        <button type="submit">Enviar mensaje</button>
    </form>
    <br/>    
    <div id="arr-chat"></div>
</div>

<div>
    <a href="/api/productos">
        <button>Ver productos</button>
    </a>
</div>


<br/>
{{> footer}}
<br/>