{{> navbar}}
<br/>

<h1>Carga de productos:</h1>
<div id="form-container">
    <form method="post" action="/api/productos">
        <fieldset>
            <label>Nombre del producto
                <input type="text" name="nombre" size="45" placeholder="Ingresa el nombre" id="nombre" required/>
            </label>
            <label>Precio del producto
                <input type="text" name="precio" pattern="[0-9]+" size="45" placeholder="Ingresa el precio" id="precio" required/>
            </label>
            <label>Imagen del producto
                <input type="text" name="img" size="45" placeholder="Ingresa el thumbnail" id="img" required/>
            </label>
        </fieldset>
        <input type="submit" value="Enviar" />
        <img  id="stan" src="https://static.wikia.nocookie.net/monkeyisland/images/5/5c/StaninActionanimiert.gif" alt="Stan">
    </form>
</div>
<br/>
<div class="productos-container-form">
    <div class="table-container">
        <table>
            <thead class="centrado">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {{#if existe}}
                    {{#each productos}}
                        <tr >
                            <td class="centrado">
                                {{this.nombre}}
                            </td>
                            <td class="centrado">
                                ${{this.precio}}
                            </td>
                            <td class="centrado">
                                <img src="{{this.img}}" alt="{{this.nombre}}"/>
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
    <a href="/api/productos">
    <button>Ver productos</button>
</a>
</div>


<br/>
{{> footer}}
<br/>