{{> navbar}}
<br/>

<h1>Listado de productos</h1>
{{#if existe}}
    {{#each productos}}
        <div class="card">
            NOMBRE: {{this.nombre}}<br/>
            PRECIO: ${{this.precio}}<br/>
            FOTO:<br/> 
            <img src="{{this.img}}" class="product-img"/>
        </div>
    {{/each}}
{{/if}}

<a href="/formulario">
    <button>Cargar un producto</button>
</a>


<br/>
{{> footer}}
<br/>