<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <h1><%=errorMessage %></h1>
        <a href="/api/productos">
            <button>Ver productos</button>
        </a>
        <%- include('../partials/footer'); %>
    </body>
</html>